img{
    width: 400px;
    height: 400px;
}
.container{
    padding: 20px;
    background-color: white;
}
*{
    margin: 0 auto;
    padding: 0;
    font-family: Times New Roman,sans-serif;
    color: #3376BC;
}
.img_logo{
    width: 400px;
    height: 400px;
    margin: 10px auto;
}
.btn1{
    cursor: pointer;
    background-color: #3376BC;
    color: white;
    font-weight: bold;
    font-size: 25px;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
}
.for_btn{
    cursor: pointer;
    width: 300px;
    height: 50px;
    margin: 17px auto;
}
.avtoriz{
    width: 300px;
    margin: 0 auto;
}
.refis{
    width: 300px;
    margin: 0 auto;
}
.avt{
    width: 500px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 200px;
    right: 50px;
    border: 5px solid #3376BC;
    border-radius: 5px;
}
.rig{
    width: 480px;
    height: 570px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 50px;
    border: 5px solid #3376BC;
    border-radius: 5px;
}
.add{
    width: 500px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    right: 15px;
    border: 5px solid #3376BC;
    border-radius: 5px;
}
.input{
    width: 390px;
    height: 30px;
    border: 1px solid #3376BC;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 10px;
}
.input1{
    width: 390px;
    height: 40px;
    border: 1px solid #3376BC;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 23px;

}
.avt_dia{
    width: 400px;
    height: 150px;
    margin-top: 20px;
}
.rig_dia{
    width: 410px;
    height: 580px;
    margin-top: 10px ;
}
.add_dia{
    width: 400px;
    height: 150px;
    margin-top: 20px;
}
.btn-form{
    background-color: #3376BC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    width: 140px;
    height: 40px;
    font-size: 15px;
    margin-right: 120px;
    margin-top: 8px;
    cursor: pointer;
}
.btn-close{
    background-color: #3376BC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    width: 140px;
    height: 40px;
    font-size: 15px;
    cursor: pointer;
}
.radio{
    margin:5px;
    border: 1px solid #3376BC;
}
.spisok{
    width: 300px;
    height: 55px;
    margin: 0 auto;

}
.spisok select{
    background-color: #3376BC;
    font-weight: bold;
    font-size: 25px;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    align-items: center;
    color: white;
}
option{
    color: white;
}
.opis{
    width: 100%;
    height: 20px;
    font-weight: bold;
    color: #3376BC;
    font-size: 23px;
    display: flex;
}

.btn2{
    width: 150px;
    height: 30px;
    font-size: 20px;
    color: white;
    background-color: #3376BC;
    margin-right: 10px;
    border: none;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.line{
    background-color: #3376BC;
    width: 470px;
    height: 2px;
    margin: 2px 1px 10px 0;
}
.green{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: green;
    margin: 6px 0;

}
.yellow{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: yellow;
    margin: 6px 0;
}.red{
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background-color: red;
     margin: 6px 0;
 }
table{
     width: auto;
     border-collapse: collapse;
}
td{
    padding: 5px;
    border: 1px solid #3376BC;
    font-size: 20px;
    text-align: center;
}


